/*=============================================================================================	
    Document   : Stylesheet
    Author     : Iqbal Wahyudi Pratama - iqbalwahyudip.com
==============================================================================================*/
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700');
@import "../css/reset";
@import "sass-lib";

body {  
    color: #333;
    font-size: 12px;
    font-family: 'Nunito', sans-serif;
    position: relative;
    overflow-x: hidden;
}
img{ border:0; max-width:100%; height:auto; }
figure{
    margin: 0; padding: 0;
    img{vertical-align: middle;}
}
p {
    margin: 1px 0 15px;
    line-height: 24px;
    font-size: 16px;
}
ol, ul{
    line-height: 24px;
    font-size: 16px;
}
input, textarea, select {
    font-size: 12px;
    border: none;
    border: 1px solid #D8D8D8;
    padding: 10px;
    margin: 0;
    color: #666;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Nunito', sans-serif;
}
input[type=checkbox], input[type=radio] {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-left-style: none;
}
h1 { font-size: 50px; }
h2 { font-size: 40px; line-height: 1.15; margin-bottom: 20px;}
h3 { font-size: 30px; font-weight: 700; margin-bottom: 15px; line-height: 1.35;}
h4 { font-size: 24px; font-weight: 700; margin-bottom: 20px;} 
h5 { font-size: 20px; font-weight: 200; margin-bottom: 10px;} 
h6 { font-size: 16px; font-weight: 700; line-height: 1.3;}
/* structure 
----------------------------------------------------------------------------------------------*/
section { position: relative; }
.wrapper {width: 1400px;margin: 0 auto;}
.wrap-md {width: 1170px;margin: 0 auto;}
.wrap-sm {width: 560px;margin: 0 auto;}

/* global
----------------------------------------------------------------------------------------------*/
.after_clear:after,.wrapper:after,.wrap-sm:after,section:after{clear:both;display: block;content:" "}
.before_clear:before{clear:both;display: block;content:" "}
.a-left{text-align: left}
.a-right{text-align: right}
.a-center{text-align: center}
.italic { font-style: italic; }
.bold { font-weight: bold; }
.regular { font-weight: lighter; }
.fl { float: left; }
.fr { float: right; }
.clear { clear: both; }
.afterboth{content: ""; clear: both; display: block;}
.tblue{color: $blue;}
.tregular{font-weight: 400;}
.link-blue{
    font-weight: 700; color: $blue; @include transition(0.1s color ease-out);
    &:hover{color: $yellow;}
}
.link-black{
    font-weight: 700; color: #333333; @include transition(0.1s color ease-out);
    &:hover{color: $blue;}
}
.afterboth{content: ""; clear: both; display: block;}

.btn-blue{}

.icwp{
    display: inline-block; width: 30px; height: 30px; background-repeat: no-repeat; background-position: top center;
    &:hover{background-position: bottom center;}

    &.ic_wa{background-image: url('../images/material/ic_wa.png');}
    &.ic_chat{background-image: url('../images/material/ic_chat.png'); width: 20px; height: 20px;}
    &.ic_vision{background-image: url('../images/material/ic_vision.png'); width: 54px; height: 54px;}
    &.ic_mision{background-image: url('../images/material/ic_mision.png'); width: 54px; height: 54px;}
    &.ic_value{background-image: url('../images/material/ic_value.png'); width: 54px; height: 54px;}
    &.ic_checked{background-image: url('../images/material/ic_checked.png'); width: 28px; height: 21px;}
    &.ic_building{background-image: url('../images/material/ic_building.png'); width: 60px; height: 60px;}
    &.ic_partnership{background-image: url('../images/material/ic_partnership.png'); width: 50px; height: 50px;}
    &.ic_career{background-image: url('../images/material/ic_career.png'); width: 50px; height: 50px;}
    &.ic_gallery{background-image: url('../images/material/ic_gallery.png'); width: 50px; height: 50px;}
    
    &.ic_fb{background-image: url('../images/material/ic_fb.png'); width: 26px; height: 26px;}
    &.ic_tw{background-image: url('../images/material/ic_tw.png'); width: 26px; height: 26px;}
    &.ic_ig{background-image: url('../images/material/ic_ig.png'); width: 26px; height: 26px;}
    &.ic_in{background-image: url('../images/material/ic_in.png'); width: 26px; height: 26px;}
}
.btn-box{
    height: 35px; line-height: 35px; display: inline-block; border: none; background-color: #9667e0; color: $white; 
    padding: 0 20px; @include borderRadius(5px); font-size: 11px; text-transform: uppercase; font-weight: 700; 
    @include transition(0.2s all ease-out);
    &:hover{color: $white; background-color: #fcb619;}

    &.btn-sm{height: 45px; line-height: 45px;}
}


/* header
----------------------------------------------------------------------------------------------*/
header{
    min-height: 72px; position: fixed; top: 0; left: 0; right: 0; background: $white; z-index: 100; border-bottom: 1px solid #ccc;
    a{font-size: 14px; color: $dtext;}
    .head-left{
        float: left; padding: 15px 0 11px;
        .logo{float: left; margin-right: 48px;}
        ul.mainmenu{
            float: left; padding-top: 8px;
            li{
                margin-right: 40px; float: left;

                &:last-child{margin-right: 0;}
            }
        }
    }
    .head-right{
        float: right; padding: 20px 0 11px;
        .btn-box{margin-left: 50px;}
    }
}

/* middle
----------------------------------------------------------------------------------------------*/
.contentwp{padding-top: 72px;}
.bslide{
    .left, .right{width: 50%; @include boxSizing(border-box);}
}
.slidehome{
    .list{
        height: 100vh; @include boxSizing(border-box); padding-top: 72px;
        figure{
            img{min-width: 100%; width: auto; max-width: none; min-height: 700px;}
        }
    }
}
.slidehomenav{
    .list{
        height: 100vh; @include boxSizing(border-box); padding: 170px 148px 0 100px;
        h3{margin-bottom: 40px;}
        p{font-size: 14px; line-height: 22px;}
    }
}
.lcase{
    a{display: block; font-size: 18px; line-height: 24px; margin-bottom: 20px; color: #9753df;}
}
.boxslidettl{
    .slidettl{
        position: relative; top: -70px; float: right; background: $white; width: 756px; @include boxSizing(border-box);
        padding: 35px 45px; color: $dtext;
        span{display: block; text-transform: uppercase; font-size: 12px; line-height: 16px; margin-bottom: 16px; font-weight: 200;}
        h3{font-size: 28px; line-height: 34px; word-wrap: break-word; margin-bottom: 28px; font-weight: 600;}
    }
}
.newshome{
    h5{margin-bottom: 48px;}
    .newslist{margin-bottom: 100px;}
}
.newslist{
    margin: 0 -15px;
    &:after{content: ""; clear: both;display: block;}
    figure{margin-bottom: 24px;}
    h6{font-size: 18px; line-height: 24px; margin-bottom: 12px; font-weight: 600;}
    p{font-size: 14px; line-height: 22px;}
    .desc-news{color: $dark;}
    .ls-news{float: left; padding: 0 15px; @include boxSizing(border-box); width: 33.3333333333333333%;}
}
.box-sosmed{
    a{
        width: 16px; height: 16px; background-position: center; background-repeat: no-repeat; display: inline-block; margin-right: 10px;
        &:last-child{margin-right: 0;}
        &.fb{background-image: url('../images/material/ic_fb.png');}
        &.ig{background-image: url('../images/material/ic_ig.png');}
        &.in{background-image: url('../images/material/ic_in.png');}
    }
}
.phn{
    a{
        position: relative; display: inline-block; padding-left: 24px; margin-right: 25px; color: $dtext;
        &:before{content: ""; position: absolute; top: 0; left: 0; background-repeat: no-repeat; background-position: center; width: 16px; height: 16px;}

        &:last-child{margin-right: 0;}
        &.phone{
            &:before{background-image: url('../images/material/ic_phone.png');}
        }
        &.mail{
            &:before{background-image: url('../images/material/ic_mail.png');}
        }
    }
}
.banner{
    height: 500px; position: relative;
    .desc{
        position: absolute; top: 50%; left: 50%; width: 1170px; @include transform(translate(-50%, -50%)); color: #fff; text-align: center;
        span{display: block; font-size: 14px; line-height: 20px; opacity: 0.64; margin-bottom: 12px;}
        h3{font-size: 28px; line-height: 38px; display: block; margin-bottom: 0; font-weight: 600;}
    }
}
.ctnwp{
    font-size: 16px; line-height: 28px;
    h3{font-weight: 600; font-size: 28px; line-height: 40px;}
    h4{font-weight: 300; font-size: 22px; line-height: 30px;}
    h5{font-weight: 600; font-size: 20px; line-height: 32px;}
    p{color: #516173; font-size: 16px; line-height: 28px;}
    a{color: #9753df; text-decoration: underline;}
    aside{float: left; width: 170px; padding-top: 100px;}
    article{
        width: 760px; margin: 0 auto; padding: 100px 0 110px;
        &:after{@extend .afterboth;}
    }

    .htopline{
        color: #00b4ff; position: relative; padding-top: 34px;
        &:before{content: ""; position: absolute; top: 0; left: 0; width: 32px; height: 2px; background: #00b4ff;}
    }
}
.sidemenu{
    a{
        font-size: 14px; line-height: 22px; color: $dtext; text-decoration: none;
        &:hover{color: #9753df;}
    }
    li{
        position: relative; margin-bottom: 12px; padding-left: 15px;
        &:before{content: ""; position: absolute; top: 10px;  left: 0; width: 4px; height: 4px; @include borderRadius(100%); background: #9753df;}

        &.active{
            a{color: #9753df;}
        }
    }
}
.share{
    > span{display: inline-block; margin-right: 25px; vertical-align: middle; font-size: 14px;}
    > a{
        position: relative; width: 36px; height: 36px; border: 1px solid #d7dfe8; @include borderRadius(5px); background-repeat: no-repeat; 
        background-position: center; display: inline-block; vertical-align: middle; margin-right: 8px;
        &.fb{background-image: url('../images/material/ic_fb_blue.png');}
        &.in{background-image: url('../images/material/ic_in_blue.png');}
    }
}
.related-topic{
    border-top: 1px solid #f2f5f9; padding: 120px 0;
    h3{text-align: center; margin-bottom: 80px;}
}
.retopics{
    margin: 0 -36px;
    .ltopics{
        width: 50%; float: left; @include boxSizing(border-box); padding: 0 36px;
        figure{margin-bottom: 24px;}
        h5{font-size: 18px; line-height: 24px; color: #1f2d3d; font-weight: 600;}
    }
}

.submenu{
    background: #eff2f7;
    ul{
        text-align: center;
        li{
            display: inline-block; margin-right: 32px; position: relative;
            &:before{content: ""; position: absolute; bottom: 0; left: 0; right: 0; height: 0; background: #9753df; @include transition(0.2s height ease-out);}
            a{display: inline-block; padding: 17px 0; color: #3a485e;}

            &:last-child{margin-right: 0;}

            &:hover, &.active{
                a{color: #3a485e;}
                &:before{height: 2px;}
            }
        }
    }
}
.ttlabout{
    padding: 122px 0 135px; text-align: center; width: 850px; margin: 0 auto;
    h3{font-weight: 300; color: #1f2d3d; line-height: 34px;}
}
.story{
    background: #4e2d83; color: $white; position: relative;
    h3{margin-bottom: 32px;}
    p{color: $white;}
    &:after{@extend .afterboth;}
    .ctnstory{width: 50%; padding:140px 108px 140px 0; @include boxSizing(border-box); opacity: 0.64;}
    .imgstory{
        position: absolute; top: 0; right: 0; bottom: 0; width: 50%; overflow: hidden;
        img{height: 100%; max-width: none; width: auto; position: absolute; top: 50%; left: 50%; @include transform(translate(-50%, -50%));}
    }
}
.visimisi{
    text-align: center; padding: 120px 0;
    h3{color: #1f2d3d; line-height: 34px; font-weight: 300; margin-bottom: 65px;}
    h4{color: #99a9bf; font-size: 22px; line-height: 22px; margin-bottom: 24px;}
}
.values{
    background: #eff2f7; padding: 120px 0 60px;
    h3{text-align: center; margin-bottom: 80px;}
}
.values-list{
    margin: 0 -20px;
    .lvalues{
        width: 33.3333333333333333%; float: left; @include boxSizing(border-box); padding: 0 20px; margin-bottom: 66px;
        h5{font-size: 18px; line-height: 24px; font-weight: 600; color: #1f2d3d;}
        p{font-size: 14px; line-height: 20px; color: #516173;}
        .invalues{position: relative; padding:0 30px 0 64px;}
        .num{position: absolute; top: 0; left: 0; width: 40px; height: 40px; line-height: 40px; border: 1px solid #c0ccda; text-align: center; @include borderRadius(100%); color: #c0ccda;}

        &:nth-child(3n+1){clear: both;}
    }
}
.findout{padding: 120px 0;}
.afind{
    margin: 0 -25px;
    .lafind{
        width: 33.33333333333333333%; float: left; padding: 0 25px; @include boxSizing(border-box); font-size: 14px; line-height: 20px; color: #516173;
        h6{font-size: 14px; line-height: 20px; font-weight: 600; margin-bottom: 8px; color: #1f2d3d;}
        p{font-size: 14px; line-height: 20px; margin-bottom: 8px;}
        a{color: #9753df; text-decoration: none;}
        .inafind{
            border: 1px solid #f1f4f7; padding: 24px 30px 24px 100px; position: relative;
            .icafind{position: absolute; top: 30px; left: 25px;}
        }
    }
}





/* footer
----------------------------------------------------------------------------------------------*/
.footlinks{
    .ls-foot{
        width: 170px; float: left; margin-right: 70px;
        &:last-child{margin-right: 0;}
        h6{text-transform: uppercase; color: $dtext; margin-bottom: 16px;}
        a{color: #9667e0;}
        ul{
            li{margin-bottom: 12px;}
        }
    }
}
footer{
    border-top: 1px solid #eff2f7;font-size: 14px; line-height: 20px;
    p{font-size: 14px; line-height: 20px;}
    .foot-top{
        padding: 68px 0 30px;
        &:after{@extend .afterboth;}
        p{margin-bottom: 30px;}
        .left{}
        .right{width: 366px;}
    }
    .logo-foot{margin-bottom: 18px;}
    .foot-bottom{
        text-align: center; font-size: 12px; line-height: 18px; color: #99a9bf; padding: 30px 0 64px;
    }
}